<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Inserisci dati</title>
</head>
<body>
	<div align="center">
		<h1>Deposito Aziendale</h1>
		<form th:action="@{/deposito_azienda}">
			    Immetti la tua partita Iva: <input type="text" name="keyword"
				id="keyword" size="50" th:value="${keyword}" required /> 
				&nbsp; 
				<input type="submit" value="Search" /> 

            	<br>
            	<br>
				<table border="2">
					<thead>
						<tr>
							<th>Azienda ID</th>
							<th>Partita Iva</th>
							<th>Ragione Sociale</th>
						</tr>
					</thead>
					<tr th:each="azienda : ${azienda}">
						<td th:text="${azienda.idAzienda}"></td>
						<td th:text="${azienda.pIva}"></td>
						<td th:text="${azienda.ragioneSociale}"></td>
				   </tr>
			</table>
		</form>



	</div>









</body>
</html>