<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Persona</title>
</head>
<body>
	<div align="center">
	<h1>Edit persona</h1>
	<form action="#" th:action="@{/save}" th:object="${persona}" method="post">
	<table border="0" cellpadding=10>
	<tr> 
	
	<td> ID:</td>
	<td><input type="text" th:field="*{id}" readonly="readonly" /> <td> <br>
	<td> Nome:</td>
	<td><input type="text" th:field="*{nome}" /> <td> <br>
	<td> Cognome </td>
		<td><input type="text" th:field="*{cognome}" /> <td> <br>
	
	<td> Email </td>
		<td><input type="text" th:field="*{email}" /> <td> <br>
	
	
	<tr><td colspan="2"><button type="submit" value="clicca qui"/>SALVA</td> 
	</table>
	
	
	
	</form>
	
	</div>







</body>
</html>